/* ============================================================
  SECTIONS
============================================================ */
section.module:last-child {
  margin-bottom: 0;
}
section.module h2 {
  margin-bottom: 40px;
  font-family: 'Muli', sans-serif;
  font-size: 30px;
}
section.module p {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 300;
}
section.module p:last-child {
  margin-bottom: 0;
}
section.module.content {
  padding: 40px 0;
  background-color: white;
}
section.module.parallax {
  height: 600px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
section.module.parallax h1 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 48px;
  line-height: 600px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.8);
}
section.module.parallax-1 {
  background-image: url("../img/pologo.png");
}
section.module.parallax-2 {
  background-image: url("../img/team_pic_2013.jpg");
}
section.module.parallax-3 {
  background-image: url("../img/action_shot.jpg");
}
section.module.parallax-4 {
  background-image: url("../img/willy.jpg");
}
section.module.parallax-5 {
  background-image: url("../img/team_pic_2014.jpg");
}

@media all and (min-width: 600px) {
  section.module h2 {
    font-size: 42px;
  }
  section.module p {
    font-size: 20px;
  }
  section.module.parallax h1 {
    font-size: 96px;
  }
}
@media all and (min-width: 960px) {
  section.module.parallax h1 {
    font-size: 100px;
  }
}
@media all and (max-width: 900px) {
  section.module.parallax h1 {
    font-size: 50px;
  }
}
@media all and (max-width: 478px) {
  section.module.parallax h1 {
    font-size: 20px;
  }
}
